@using DesignSystemPRISM.Shared.Tab

@page "/texts"

<PageTitle>Texts</PageTitle>

<h1>Texts</h1>

<section>
	<h2>Exemple</h2>
	<p class="text-xs">Ceci est un texte extra-small</p>
	<p class="text-s">Ceci est un texte small</p>
	<p class="text-l">Ceci est un texte large</p>
	<p class="text-m">Ceci est un texte</p>

	<TabControl>
		<TabTextTemplate Context="TheTab">
			@TheTab.Text
		</TabTextTemplate>

		<ChildContent>
			<TabPage Text="Tab 1">
				<h1>The first tab</h1>
			</TabPage>
			<TabPage Text="Tab 2">
				<h1>The second tab</h1>
			</TabPage>
			<TabPage Text="Tab 3">
				<h1>The third tab</h1>
			</TabPage>
		</ChildContent>
	</TabControl>

</section>

@code {

}
